/* FONT IMPORT */

@import url("https://p.typekit.net/p.css?s=1&k=dym8cmd&ht=tk&f=32119.32121.42668.43473&a=139138726&app=typekit&e=css");

@font-face {
font-family:"erbaum";
src:url("https://use.typekit.net/af/2ab381/00000000000000007735b011/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff2"),url("https://use.typekit.net/af/2ab381/00000000000000007735b011/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff"),url("https://use.typekit.net/af/2ab381/00000000000000007735b011/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("opentype");
font-display:auto;font-style:normal;font-weight:400;font-stretch:normal;
}

@font-face {
font-family:"erbaum";
src:url("https://use.typekit.net/af/97dfb1/00000000000000007735b014/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("woff2"),url("https://use.typekit.net/af/97dfb1/00000000000000007735b014/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("woff"),url("https://use.typekit.net/af/97dfb1/00000000000000007735b014/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("opentype");
font-display:auto;font-style:normal;font-weight:700;font-stretch:normal;
}

@font-face {
font-family:"ohno-blazeface";
src:url("https://use.typekit.net/af/988da3/00000000000000007735ce59/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n9&v=3") format("woff2"),url("https://use.typekit.net/af/988da3/00000000000000007735ce59/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n9&v=3") format("woff"),url("https://use.typekit.net/af/988da3/00000000000000007735ce59/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n9&v=3") format("opentype");
font-display:auto;font-style:normal;font-weight:900;font-stretch:normal;
}

@font-face {
font-family:"ohno-blazeface";
src:url("https://use.typekit.net/af/6cab26/00000000000000007735ce68/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i2&v=3") format("woff2"),url("https://use.typekit.net/af/6cab26/00000000000000007735ce68/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i2&v=3") format("woff"),url("https://use.typekit.net/af/6cab26/00000000000000007735ce68/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i2&v=3") format("opentype");
font-display:auto;font-style:italic;font-weight:200;font-stretch:normal;
}

.tk-erbaum { font-family: "erbaum",sans-serif; }
.tk-ohno-blazeface { font-family: "ohno-blazeface",sans-serif; }


/* LAYOUT */

:root {
  --background: #E2DFD8;
  --light: 		#D8D2C4;
  --mid:		#C5C2B3;
  --dark:		#1B1D44;
  --accent: 	#F72E1C;

  box-sizing: border-box;
}

body {
	background: var(--background);
	text-align: center;
	padding: 48px;
	display: flex;
	flex-direction: column;
	gap: 32px;
	font-family: erbaum, sans-serif;
	font-weight: 400;
	font-style: normal;
	color: var(--dark);
}

main {
	display: flex;
	flex-direction: column;
	padding: 0px;
	gap: 8px;
	margin: 0 auto;
	max-width: 832px;
}

section {
	display: flex;
	flex-direction: row;
	padding: 0px;
	gap: 8px;
	align-items: stretch;
	
}

section > div {
	background: var(--light);
	padding: 16px;
	border-radius: 8px;
	display: flex;
	align-items: center;
}

section > div.helper {
	flex-basis: 25%
}

section > div.container {
	flex-basis: 75%
}

section.input > .container {
	flex-direction: row;
	justify-content: space-between;
}

section > .helper {
	font-size: 11px;
	align-items: left;
	text-align: left;
}




/* FOOTER */

footer {
	font-size: 11px;
	display: flex;
	flex-direction: row;
	gap: 8px;
	margin: 0 auto;

}




/* PREVIEW SECTION */



.preview .container {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 16px;
	gap: 16px;
	height: 424px;
}

.animationContainer {
	flex: none;
	order: 0;
	align-self: stretch;
	flex-grow: 1;
	display: flex;
	align-items: center;
    justify-content: center;
}

#animationPreview {
	background-size: cover;
	animation: preview 1s steps(10) infinite;
	background-image: url('assets/demo-1.png');
	background-position-x: 0%;
}

@keyframes preview {
  to {background-position-x: calc(100% - 240px);}
}

.toolbar {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: flex-end;
	padding: 0px;
	gap: 8px;
	isolation: isolate;
}

input[type=button] {
	border: none;
	width: 40px;
	height: 40px;
	border-radius: 4px;
	background: var(--mid);
	color: transparent;
	background-position: center center;
	background-size: 24px;
	background-repeat: no-repeat;

}

input[value=darkBackground] {background-image: url(assets/icon-moon.svg)}
input[value=uploadSource]	{background-image: url(assets/icon-upload.svg)}
input[value=refresh] 		{background-image: url(assets/icon-renew.svg)}


input[type=file] {
	display: none;
}


.source {
	width: 100%;
	background: var(--mid);
	border-radius: 8px;
	position: relative;
	height: 40px;
	overflow: hidden;
	display: flex;
}

.source #currentFrame {
	border: 2px solid var(--accent);
	border-radius: 8px;
	position: absolute;
	top: 0;
	left: 0;
	height: calc(100% - 4px);
	width: 10%;
	animation: currentFrame 1s steps(10) infinite;
}

@keyframes currentFrame {
  from {left: 0%;}
  to {left: calc(100%);}
}

.source img {
	margin: auto;
	max-width: 100%;

}


/* INPUT SECTION */

label {
	font-family: 'Erbaum';
	font-style: normal;
	font-weight: 400;
	font-size: 13px;
	text-transform: uppercase;
}

#animationSpeed {
	direction: rtl;
}


/* OUTPUT SECTION */

section.output .container {
	background: var(--dark);
}

