/* FONT IMPORT */

@import url("https://p.typekit.net/p.css?s=1&k=dym8cmd&ht=tk&f=32119.32121.42668.43473&a=139138726&app=typekit&e=css");

@font-face {
font-family:"erbaum";
src:url("https://use.typekit.net/af/2ab381/00000000000000007735b011/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff2"),url("https://use.typekit.net/af/2ab381/00000000000000007735b011/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff"),url("https://use.typekit.net/af/2ab381/00000000000000007735b011/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("opentype");
font-display:auto;font-style:normal;font-weight:400;font-stretch:normal;
}

@font-face {
font-family:"erbaum";
src:url("https://use.typekit.net/af/97dfb1/00000000000000007735b014/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("woff2"),url("https://use.typekit.net/af/97dfb1/00000000000000007735b014/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("woff"),url("https://use.typekit.net/af/97dfb1/00000000000000007735b014/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("opentype");
font-display:auto;font-style:normal;font-weight:700;font-stretch:normal;
}

@font-face {
font-family:"ohno-blazeface";
src:url("https://use.typekit.net/af/988da3/00000000000000007735ce59/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n9&v=3") format("woff2"),url("https://use.typekit.net/af/988da3/00000000000000007735ce59/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n9&v=3") format("woff"),url("https://use.typekit.net/af/988da3/00000000000000007735ce59/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n9&v=3") format("opentype");
font-display:auto;font-style:normal;font-weight:900;font-stretch:normal;
}

@font-face {
font-family:"ohno-blazeface";
src:url("https://use.typekit.net/af/6cab26/00000000000000007735ce68/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i2&v=3") format("woff2"),url("https://use.typekit.net/af/6cab26/00000000000000007735ce68/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i2&v=3") format("woff"),url("https://use.typekit.net/af/6cab26/00000000000000007735ce68/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i2&v=3") format("opentype");
font-display:auto;font-style:italic;font-weight:200;font-stretch:normal;
}

.tk-erbaum { font-family: "erbaum",sans-serif; }
.tk-ohno-blazeface { font-family: "ohno-blazeface",sans-serif; }


/* CODE HIGHLIGHT */

/* PrismJS 1.29.0
https://prismjs.com/download.html#themes=prism-twilight&languages=css */
.token.block-comment,
.token.cdata,
.token.comment,
.token.doctype,
.token.prolog {
    color: #999;
}
.token.punctuation {
    color: #ccc;
}
.token.attr-name,
.token.deleted,
.token.namespace,
.token.tag {
    color: #e2777a;
}
.token.function-name {
    color: #6196cc;
}
.token.boolean,
.token.function,
.token.number {
    color: #f08d49;
}
.token.class-name,
.token.constant,
.token.property,
.token.symbol {
    color: #f8c555;
}
.token.atrule,
.token.builtin,
.token.important,
.token.keyword,
.token.selector {
    color: #cc99cd;
}
.token.attr-value,
.token.char,
.token.regex,
.token.string,
.token.variable {
    color: #7ec699;
}
.token.entity,
.token.operator,
.token.url {
    color: #67cdcc;
}
.token.bold,
.token.important {
    font-weight: 700;
}
.token.italic {
    font-style: italic;
}
.token.entity {
    cursor: help;
}
.token.inserted {
    color: green;
}


/* LAYOUT */

:root {
  --background: #E2DFD8;
  --light: 		#D8D2C4;
  --mid:		#C5C2B3;
  --dark:		#1B1D44;
  --accent: 	#F72E1C;
  --focus:		#1C81F7;

  box-sizing: border-box;
}



body {
	background: var(--background);
	text-align: center;
	padding: 48px;
	display: flex;
	flex-direction: column;
	gap: 48px;
	font-family: erbaum, sans-serif;
	font-weight: 400;
	font-style: normal;
	color: var(--dark);
}

h1 {
	font-size: 16px;
	font-weight: 400;
	margin: 0;
}

a, a:visited {
	color: var(--dark);
	border-radius: 2px;
}
a:hover {color: var(--accent)}

p {margin: 0;}

.logo {
	width: 260px;
	height: 45px;
	background-position-y: 0px;
	background-position-x: 0px;
	background-size: cover;
	background-image: url('assets/animaticss-logo.png');
	margin: 0 auto;
}

.logo:hover {
	animation: logoHover .8s steps(9) 1;
}

@keyframes logoHover {
	from 	{background-position-x: 0px;}
	to 		{background-position-x: calc(100% - 260px);}
}

main {
	display: flex;
	flex-direction: column;
	padding: 0px;
	gap: 8px;
	margin: 0 auto;
	max-width: 832px;
}

section {
	display: flex;
	flex-direction: row;
	padding: 0px;
	gap: 8px;
	align-items: stretch;
	
}




section > div, section > pre {
	background: var(--light);
	padding: 16px;
	border-radius: 8px;
	display: flex;
	align-items: center;
}

section > .helper {
	text-align: left;
	flex-basis: 30%;
	flex-direction: column;
	gap: 8px;
	font-size: 11px;
	align-items: flex-start;
	justify-content: top;
}

section > .container {
	flex-basis: 70%;
}

section.input > .container {
	flex-direction: row;
	justify-content: space-between;
}



/* FOOTER */

footer {
	font-size: 11px;
	display: flex;
	flex-direction: column;
	gap: 8px;
	margin: 0 auto;
}

nav {
	font-size: 11px;
	display: flex;
	flex-direction: row;
	gap: 8px;
	margin: 0 auto;
}






/* PREVIEW SECTION */



.preview .container {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 16px;
	gap: 16px;
	height: 424px;
}

#animationContainer {
	flex: none;
	order: 0;
	align-self: stretch;
	flex-grow: 1;
	display: flex;
	align-items: center;
    justify-content: center;
}

#animationPreview {
	background-size: cover;
	animation: preview 1s steps(10) infinite;
	background-image: url('assets/demo-1.png');
	background-position-x: 0%;
}

@keyframes preview {
  to {background-position-x: calc(100% - 240px);}
}

.toolbar {
	display: flex;
	flex-direction: row;
	justify-content: left;
	align-items: flex-end;
	padding: 0px;
	gap: 8px;
	isolation: isolate;
	width: 100%;
}

input[type=button] {
	border: none;
	width: 40px;
	height: 40px;
	border-radius: 8px;
	background: var(--mid);
	color: transparent;
	background-position: center center;
	background-size: 24px;
	background-repeat: no-repeat;
	transition: transform .1s cubic-bezier(0.51, 1.66, 0.68, 0.97);
}

input[type=button]:hover {
	transform: scale(1.1);
}

input[type=button]:active {
	transform: scale(0.95);
}

input[value=uploadSource]	{background-image: url(assets/icon-upload.svg)}
input[value=refresh] 		{background-image: url(assets/icon-renew.svg)}
input[value=copyCode] 		{background-image: url(assets/icon-copy.svg)}
input[value=darkBackground] {
	background-image: url(assets/icon-background.svg);
	background-position: left center;
	background-size: 80px;
	transition: background-position .2s cubic-bezier(0.51, 1.66, 0.68, 0.97);
}

input[value=darkBackground].dark {
	background-position: right center;
}

input[type=file] {
	display: none;
}


.source {
	background: var(--mid);
	border-radius: 8px;
	position: relative;
	height: 32px;
	overflow: hidden;
	display: flex;
	border: 4px solid var(--mid);
	flex-grow: 1;
}

.source #currentFrame {
	border: 2px solid var(--accent);
	border-radius: 6px;
	position: absolute;
	top: 0;
	left: 0;
	height: calc(100% - 4px);
	width: 10%;
	animation: currentFrame 1s steps(10) infinite;
}

@keyframes currentFrame {
  from {left: 0%;}
  to {left: calc(100%);}
}

.source img {
	width: 100%;
}


/* INPUT SECTION */

label {
	font-family: 'Erbaum';
	font-style: normal;
	font-weight: 400;
	font-size: 13px;
	text-transform: uppercase;
}

#animationSpeed {
	direction: rtl;
	-webkit-appearance: none;
  	width: 120px;
  	background: transparent;
  	border-radius: 8px;
  	cursor: pointer;
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
}

input[type=range]::-ms-track {
  width: 100%;
  cursor: pointer;
  background: transparent; 
  border-color: transparent;
  color: transparent;
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 24px;
  width: 24px;
  border-radius: 16px;
  background: var(--accent);
  cursor: pointer;
  margin-top: -11px; 
}

input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 2px;
  cursor: pointer;
  background: var(--dark);
  margin: 19px 8px;
}

/* frame selector */

input[type="radio"] {
	opacity: 0;
	width: 0;
}




#frameInput {
	display: flex;
	flex-direction: row;
	width: 40px;
	height: 40px;
	padding: 0 40px;
	border-radius: 8px;
	overflow: hidden;
	position: relative;
	scroll-behavior: smooth;

}

#frameInput:focus-within, *:focus {
	outline: 2px solid var(--focus);
	outline-offset: 2px;
}


#selectFrames {
	display: flex;
}

.input.frames > .container {
	position: relative;
}

.frameControls {
	position: absolute;
	width: 40px;
	height: 40px;
	background: var(--light);
	border-radius: 10px;
	right: 16px;
	top: 16px;
	z-index: 10;
	background-position: center center;
	background-size: 24px;
	background-repeat: no-repeat;
	cursor: pointer;
	user-select: none;
}

.frameControls:hover {
	transform: scale(1.1);
}

.frameControls:active {
	transform: scale(0.95);
}

.frameControls#prevFrame {
	right: 96px;
	background-image: url(assets/icon-arrow-left.svg);
}

.frameControls#nextFrame {
	background-image: url(assets/icon-arrow-right.svg);
}

#selectFrames label {
	width: 40px;
	height: 40px;
	display: inline-block;
	cursor: pointer;
	font-family: 'Erbaum', sans-serif;
	font-style: normal;
	line-height: 40px;
	font-weight: 800;
	font-size: 24px;
	color: var(--dark);
	scroll-snap-align: start;
  	flex-shrink: 0;
  	user-select: none;
}

#selectFrames input[type="radio"]:checked+label {
  color: var(--accent);
}


/* OUTPUT SECTION */

section.output .container {
	text-align: left;
	font-size: 13px;
	font-family: "source-code-pro", monospace;
	font-weight: 400;
	font-style: normal;
	background: var(--dark);
	color: var(--light);
	border: none;
	flex-direction: column;
	align-items: start;
	gap: 16px;
}

section.output .toolbar {

}

pre {
	margin: 0;
	white-space: pre-wrap; 
	width: 100%;
}




/* MEDIA QUERIES */

@media (max-width: 700px) {
	section, nav {flex-direction: column;}
	body {padding: 24px;}
	.mobileHidden {display: none;}
}

