/* FONT IMPORT */

@import url("https://p.typekit.net/p.css?s=1&k=dym8cmd&ht=tk&f=32119.32121.42668.43473&a=139138726&app=typekit&e=css");

@font-face {
font-family:"erbaum";
src:url("https://use.typekit.net/af/2ab381/00000000000000007735b011/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff2"),url("https://use.typekit.net/af/2ab381/00000000000000007735b011/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff"),url("https://use.typekit.net/af/2ab381/00000000000000007735b011/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("opentype");
font-display:auto;font-style:normal;font-weight:400;font-stretch:normal;
}

@font-face {
font-family:"erbaum";
src:url("https://use.typekit.net/af/97dfb1/00000000000000007735b014/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("woff2"),url("https://use.typekit.net/af/97dfb1/00000000000000007735b014/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("woff"),url("https://use.typekit.net/af/97dfb1/00000000000000007735b014/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("opentype");
font-display:auto;font-style:normal;font-weight:700;font-stretch:normal;
}

@font-face {
font-family:"ohno-blazeface";
src:url("https://use.typekit.net/af/988da3/00000000000000007735ce59/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n9&v=3") format("woff2"),url("https://use.typekit.net/af/988da3/00000000000000007735ce59/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n9&v=3") format("woff"),url("https://use.typekit.net/af/988da3/00000000000000007735ce59/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n9&v=3") format("opentype");
font-display:auto;font-style:normal;font-weight:900;font-stretch:normal;
}

@font-face {
font-family:"ohno-blazeface";
src:url("https://use.typekit.net/af/6cab26/00000000000000007735ce68/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i2&v=3") format("woff2"),url("https://use.typekit.net/af/6cab26/00000000000000007735ce68/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i2&v=3") format("woff"),url("https://use.typekit.net/af/6cab26/00000000000000007735ce68/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i2&v=3") format("opentype");
font-display:auto;font-style:italic;font-weight:200;font-stretch:normal;
}

.tk-erbaum { font-family: "erbaum",sans-serif; }
.tk-ohno-blazeface { font-family: "ohno-blazeface",sans-serif; }


/* LAYOUT */

:root {
  --background: #E2DFD8;
  --light: 		#D8D2C4;
  --mid:		#C5C2B3;
  --dark:		#1B1D44;
  --accent: 	#F72E1C;

  box-sizing: border-box;
}

body {
	background: var(--background);
	text-align: center;
	padding: 32px;
}

main {
	display: flex;
	flex-direction: column;
	padding: 0px;
	gap: 16px;
	margin: 0 auto;
	max-width: 832px;
}

section {
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	padding: 0px;
	gap: 16px;
	align-items: stretch;
	
}

section > div {
	background: var(--light);
	padding: 16px;
	border-radius: 8px;
	display: flex;
	align-items: center;
}

section > div.helper {
	flex-basis: 30%
}

section > div.container {
	flex-basis: 70%
}





/* PREVIEW SECTION */

.preview {
	

}

.preview .container {

	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 16px;
	gap: 16px;
}

#animationPreview {
	/*width: 320px;
	height: 320px;*/

	background-size: cover;
	animation: preview 1s steps(10) infinite;
	background-image: url('assets/demo-1.png');
	background-position-x: 0%;

}

@keyframes preview {
  to {background-position-x: calc(100% - 240px);}
}


.source {
	width: 100%;
	position: relative;
}

.souce #currentFrame {
	border: 2px solid black;
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 10%;
	animation: currentFrame 1s steps(10) infinite;
}

@keyframes currentFrame {
  from {left: 0%;}
  to {left: calc(100%);}
}

.source img {
	width: 100%;
}


/* INPUT SECTION */

#animationSpeed {
	direction: rtl;
}

